//1.FONT
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700&display=swap');

$font-heading: 'Spartan', sans-serif;
$font-text: 'Lato', sans-serif;

$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 15px;
$font-lg: 17px;
$font-xl: 19px;
$font-xxl: 58px;